
<div class="p-2">
  @if (this.canShow) {
    <p-table [value]="crudBaseComponent.entities" size="small" stripedRows="true">
      <ng-template #caption>
        <p-toolbar>
          <ng-template #start>
            <div>
              <p-button icon="pi pi-plus" severity="primary"></p-button>
            </div>
          </ng-template>
        </p-toolbar>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Ação</th>
        </tr>
      </ng-template>
      <ng-template #body let-result>
        <tr>
          <td>{{result.date}}</td>
          <td>{{result.description}}</td>
          <td><p-tag [value]="result.value" [severity]="result.isCredit ? 'success' : 'danger'"></p-tag></td>
          <td>
            <p-button icon="pi pi-trash" severity="danger"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="4">Nenhum registro encontrado</td>
        </tr>
      </ng-template>
      <ng-template #footer>
        <tr>
          <td colspan="2" class="text-right">Total de entradas: {{crudBaseComponent.totalCredit}}</td>
          <td colspan="2" class="text-right">Total de saídas: {{crudBaseComponent.totalDebit}}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-right">Saldo total {{crudBaseComponent.total}}</td>
        </tr>
      </ng-template>
    </p-table>
  }
</div>
